<h2>All Historical Landmarks</h2>

<!-- add content here -->
<% @landmarks.each do |landmark| %>
  <%= landmark.name %> built in <%= landmark.year_completed %>
<% end %>

<a class="button" href="/figures">Figures</a>
<a class="button" href="/">Home</a>
