<h2>All Historical Figures</h2>

<!-- add content here -->
<% @figures.each do |figure| %>
  <%= figure.name %>
<% end %>

<a class="button" href="/figures">Figures</a>
<a class="button" href="/">Home</a>
